### 표본추출/샘플링

-   전체 데이터에서 일부 데이터를 추출
-   pandas.DataFrame.sample() 메서드
-   복원추출 : 추출된 데이터를 다시 추가해서 추출하는 방식
-   비복원추출 : 추출된 데이터를 제거 후 남은 데이터에서 추출하는 방식

In [1]:
import pandas as pd

In [2]:
# 임의의 데이터 생성
# fmt: off
dataDF = pd.DataFrame({'kor': [10, 20, 30],
                       'math': [11, 22, 33],
                       'eng': [111, 222, 333]})
# fmt: on
dataDF

   kor  math  eng
0   10    11  111
1   20    22  222
2   30    33  333

In [3]:
# 1개의 샘플/표본 데이터 추출 => [기본] 비복원 - 전체 데이터 수 초과 불가
# 추출 기준 축(axis)로 설정
for cnt in range(1, 6):
    print(f"\n[{cnt}번]")
    print(dataDF.sample(n=3, axis="columns"))

[1번]
   kor  math  eng
0   10    11  111
1   20    22  222
2   30    33  333

[2번]
   math  kor  eng
0    11   10  111
1    22   20  222
2    33   30  333

[3번]
   math  eng  kor
0    11  111   10
1    22  222   20
2    33  333   30

[4번]
   eng  math  kor
0  111    11   10
1  222    22   20
2  333    33   30

[5번]
   kor  eng  math
0   10  111    11
1   20  222    22
2   30  333    33

In [4]:
# 1개의 샘플/표본 데이터 추출 => [설정] 복원 : replace 매개변수 True 설정
# 추출 기준 축(axis)로 설정
for cnt in range(1, 6):
    print(f"\n[{cnt}번]")
    print(dataDF.sample(n=3, axis="columns", replace=True))

[1번]
   kor  kor  math
0   10   10    11
1   20   20    22
2   30   30    33

[2번]
   eng  eng  eng
0  111  111  111
1  222  222  222
2  333  333  333

[3번]
   kor  math  math
0   10    11    11
1   20    22    22
2   30    33    33

[4번]
   math  kor  eng
0    11   10  111
1    22   20  222
2    33   30  333

[5번]
   math  eng  kor
0    11  111   10
1    22  222   20
2    33  333   30